@font-face {
    font-family: Zolina;
    src: url(fonts/Zolina\ Bold.ttf);
}
@font-face {
    font-family: GilroyMed;
    src: url(fonts/Gilroy-Medium.ttf);
}
@font-face {
    font-family: GilroyReg;
    src: url(fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: GilroyThin;
    src: url(fonts/Gilroy-Thin.ttf);
}
@font-face {
    font-family: GilroySemiBold;
    src: url(fonts/Gilroy-SemiBold.ttf);
}
@font-face {
    font-family: ZolinaReg;
    src: url(fonts/Zolina\ Regular.ttf);
}

.wr{
    width:1250px;
    margin:0 auto;
    }
/*******Title********/
h2 {
    font-family:Zolina; 
    color: #4F4B4C; 
    text-align: center;
}

/*******Navigation Menu********/
body           {
    background-color: #EFEFEF;
}
p              {
    font-family: GilroyMed, 'Times New Roman', Times, serif;
    font-size: small;
    color: #7D7165;
    padding-left: 150px;
}
.navMenu       {
    float: left;
    background-color: #EFEFEF;
    width: 200px;
    height: 400px;
}
.navMenu ul li{
    background-color:b12572;
    list-style-type: none;
    padding-bottom: 20px;
    text-align: start;
}  
.navMenu ul li:hover{
    text-decoration: underline;
}
a              {
    text-decoration: none;
    color: #373737;
    font-family: GilroyMed;
    font-size: 16px;
}
.selected {
    color: #7D7165;  
}
/*******Searchbar********/
.search{
    margin-bottom: 1%;
    width: 49%;
    height: 30px;
    background-color: #e2e2e2;
    border: #7D7165 0.5px;
    border-radius: 2px 2px 2px 2px;
    font-family: GilroyMed;
}
.B{
    font-family: GilroyReg;
    font-size: 12px;
    text-decoration:none;
    color:white;
    padding: 9px 25px;
    background-color:#373737;
    border: none;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 1%;
    margin-left: 20px;
    height: 30px;
}
.B:hover{
    background-color: #7D7165;
    cursor: pointer;
}
/*******Filter********/
.Ficon{
    margin-left: 1.5px;
    color: #373737;
    font-size: 22px;
}
.dropdown{
font-family: GilroyReg;
height: 30px;
width: 180px;
background-color: #e2e2e2; 
margin-left: 3.7%;
}
option:hover{
    background-color: #d7d6d6;
}

/*******PRODUCT LIST********/
.Container{
    display: grid;
    grid-gap:4%;
    grid-template-columns: 20% 20% 20% 20%;
    justify-items: start;

}
.products {
	background: #f6f6f6;
	color: #7D7165;
	margin-bottom: 10px;
    box-shadow: inset 0 0 0px #EFEFEF, 0 0 5px #e2e2e2;
}

.products img {
	width: 200px;
    height: 200px;
}
.products img:hover {
	width: 210px;
    height: 210px;
}
.products h2 {
	font-size: 15px;
	color: #4F4B4C;
    font-family: GilroyMed;
    margin-bottom: -12px;
    text-align: left;
}
.products h3 {
	margin-bottom: 20px;
	font-size: 12px;
	font-weight: 600;
	color: #7D7165;
    font-family: GilroyReg;
}
.products .price h4 {
	margin: 5px;
    text-align: left;
    font-family: GilroyReg;
    font-size: 12px;
}
